<plugin name='ddl-plugin-itens' version='1.0.0' grailsVersion='2.4 &gt; *'>
  <author>Thaniel</author>
  <authorEmail>thanielalves@gmail.com</authorEmail>
  <title>Cadastro de itens da DDL Engenharia</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/ddl-plugin-itens</documentation>
  <type>DdlPluginItensGrailsPlugin</type>
  <resources>
    <resource>concot.Categoria</resource>
    <resource>concot.Item</resource>
  </resources>
</plugin>